@use "./colors" as *;
@use "./sizes" as *;
@use "./common" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

input,
select {
  font-size: 100%;
}

[type="checkbox"],
[type="radio"] {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  text-shadow: none;
  text-transform: uppercase;
}

.no-scroll {
  @include crop;
}
