/*
  Color Palette Definition:
  Primary Colors: Core brand colors that dominate the interface.
  Secondary Colors: Supporting colors used for accents, highlights, or specific elements.
  Neutral Colors: Grays, blacks, and whites for text, backgrounds, and borders, often in various shades.
  Semantic Colors: Colors assigned to specific meanings (e.g., success, error, warning, info).

  Naming Conventions:
  - Descriptive Naming: Use clear and intuitive names for colors, avoiding generic terms like "blue1".
  - Semantic Naming: For colors with specific functions, use names that reflect their purpose (e.g., $color-success, $color-error).
  - Base Color Naming with Variations: Define a base color and then use modifiers for variations
    (e.g., $color-primary, $color-primary-light, $color-primary-dark).
*/

$color-primary: #00739a;
$color-primary-light: #5dabaf;
$color-primary-dark: #005377;

$color-secondary: #00a8a5;
$color-secondary-light: #2ab0ae;
$color-secondary-dark: #02979b;

$color-success: #53a92c;
$color-error: #d93a40;
$color-warning: #ffc20e;
$color-info: #6015d9;

$color-text: #121212;
$color-white: #ffffff;
$color-grey: #666666;
$color-bg: #f5f5f5;
$color-border: #e3e9f1;
$color-muted: #393c49;
$color-shadow: rgba(0, 0, 0, 0.36);

$text-color--input: #222222; // c-dark
$color-disabled: #fcfcfc;

// color utilities map (uses semantic tokens)
$colors: "default" $color-bg $color-text, "danger" $color-error,
  "success" $color-success, "warning" $color-warning $color-text,
  "disabled" $disabled $color-grey, "secondary" $color-secondary,
  "primary" $color-primary;

@mixin default {
  background: $color-bg;
  background-color: $color-bg;
  color: $gray-600;
}
@mixin success {
  background: $color-success;
  background-color: $color-success;
  color: $white;
}
@mixin primary {
  background: $color-primary;
  background-color: $color-primary;
  color: $white;
}
@mixin secondary {
  background: $color-secondary;
  background-color: $color-secondary;
  color: $white;
}
@mixin danger {
  background: $color-error;
  background-color: $color-error;
  color: $white;
}

@mixin disabled {
  opacity: 0.4;
  pointer-events: none;
}

// Utility classes (renamed from .pulse- to neutral .u-color-)
@each $name, $color, $textColor in $colors {
  .u-color-#{$name} {
    background: $color;
    background-color: $color;
    @if $textColor {
      color: $textColor;
      stroke: $textColor;
    } @else {
      color: $white;
      stroke: $white;
    }
  }
}
