@use "../../styles/colors" as *;

$types: (
  warning: $color-warning,
  error: $color-error,
  success: $color-success,
  default: $color-primary,
);

.info-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;

  &__main-ctn {
    display: flex;
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__icon-wrapper {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    flex-shrink: 0;
    font-size: 14px;
  }

  &__content {
    flex: 1 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    font-size: 11px;
    align-self: stretch;
  }

  &__header,
  &__description {
    color: var(--base-800, #222);
    font-family: Lato;
    font-size: 11px;
    line-height: 13px;
  }

  &__header {
    font-weight: 700;
  }

  &__description {
    font-weight: 400;
  }

  // Generate variant classes dynamically
  @each $name, $color in $types {
    &__icon-wrapper--#{$name} {
      background-color: $color;
    }

    &__content--#{$name} {
      background-color: rgba($color, 0.3);
    }
  }
}
