@use "../../styles/common" as *;
@use "../../styles/colors" as *;

.custom-input {
  .custom-input__input {
    height: auto;
    font-size: 12px;
    color: $color-text;
    font-style: normal;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      @include m("", 0);
      appearance: none;
    }

    &::placeholder {
      font-style: italic;
      color: $color-muted;
    }

    &[type="number"] {
      appearance: textfield;
    }

    &:focus {
      border: none;
    }
  }

  .custom-input__input-base-root {
    @include p("", 0);
    background-color: $color-white;

    &:focus {
      border: 0;
      outline: none;
    }

    .custom-input__input {
      @include border();
      @include p("x", 12);
      @include p("y", 0);
      box-sizing: border-box;
      height: 32px;
      line-height: 0;

      &.custom-input__input--error {
        border: 1px solid $color-error;
      }

      &.custom-input__input--disabled {
        background-color: $color-disabled;
        cursor: not-allowed;
        -webkit-text-fill-color: $color-grey;
        color: $color-grey;
      }
    }

    .custom-input__input-multiline {
      @include p("", 8);
      line-height: 14px;
    }
  }

  .custom-input__required-label {
    color: $color-muted;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: normal;

    &--error {
      color: $color-error;
    }
  }

  .custom-input__error {
    color: $color-error;
    font-size: 11px;
  }

  .input-header__label {
    @include match-width;
    @include m("b", 6);
    display: flex;
    font-size: 11px;
    font-weight: bold;
    justify-content: space-between;
    text-transform: uppercase;

    &--disabled {
      cursor: not-allowed;
    }
  }

  .input-header__label-tag {
    @include border-radius("", 2px);
    @include m("l", 4);
    @include m("t", -2);
    @include p("x", 4);
    @include p("y", 2);
    font-size: 10px;
    color: $color-muted;
    background-color: $color-bg;
    font-weight: normal;
  }
}
